The purpose of this notebook is to take a subset of the datasets that is big enough to explore and train models on. The datasets right now, are very large and take a long time to load or do any pandas functions on. I will load it in here, and clean it and save the cleaned subset to a csv, so that I don't have to reload the data again.

## Cleaning

In [1]:
import time
notebook_start = time.time()
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [2]:
# Insure that all columns and rows are displayed 
pd.options.display.max_columns = None
pd.set_option('display.max_colwidth', None)

In [3]:
start = time.time()
accepted_df = pd.read_csv('Sample_datasets/accepted_2007_to_2018Q4.csv.gz', low_memory=False)
rejected_df = pd.read_csv('Sample_datasets/rejected_2007_to_2018Q4.csv.gz', low_memory=False)
feat_def = pd.read_excel('https://resources.lendingclub.com/LCDataDictionary.xlsx')
print(accepted_df.shape)
print(f"Reading the csv's take {int((time.time() - start)/60)} minutes.")
accepted_df.head()

(2260701, 151)
Reading the csv's take 2 minutes.

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_title,emp_length,home_ownership,annual_inc,verification_status,issue_d,loan_status,pymnt_plan,url,desc,purpose,title,zip_code,addr_state,dti,delinq_2yrs,earliest_cr_line,fico_range_low,fico_range_high,inq_last_6mths,mths_since_last_delinq,mths_since_last_record,open_acc,pub_rec,revol_bal,revol_util,total_acc,initial_list_status,out_prncp,out_prncp_inv,total_pymnt,total_pymnt_inv,total_rec_prncp,total_rec_int,total_rec_late_fee,recoveries,collection_recovery_fee,last_pymnt_d,last_pymnt_amnt,next_pymnt_d,last_credit_pull_d,last_fico_range_high,last_fico_range_low,collections_12_mths_ex_med,mths_since_last_major_derog,policy_code,application_type,annual_inc_joint,dti_joint,verification_status_joint,acc_now_delinq,tot_coll_amt,tot_cur_bal,open_acc_6m,open_act_il,open_il_12m,open_il_24m,mths_since_rcnt_il,total_bal_il,il_util,open_rv_12m,open_rv_24m,max_bal_bc,all_util,total_rev_hi_lim,inq_fi,total_cu_tl,inq_last_12m,acc_open_past_24mths,avg_cur_bal,bc_open_to_buy,bc_util,chargeoff_within_12_mths,delinq_amnt,mo_sin_old_il_acct,mo_sin_old_rev_tl_op,mo_sin_rcnt_rev_tl_op,mo_sin_rcnt_tl,mort_acc,mths_since_recent_bc,mths_since_recent_bc_dlq,mths_since_recent_inq,mths_since_recent_revol_delinq,num_accts_ever_120_pd,num_actv_bc_tl,num_actv_rev_tl,num_bc_sats,num_bc_tl,num_il_tl,num_op_rev_tl,num_rev_accts,num_rev_tl_bal_gt_0,num_sats,num_tl_120dpd_2m,num_tl_30dpd,num_tl_90g_dpd_24m,num_tl_op_past_12m,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit,revol_bal_joint,sec_app_fico_range_low,sec_app_fico_range_high,sec_app_earliest_cr_line,sec_app_inq_last_6mths,sec_app_mort_acc,sec_app_open_acc,sec_app_revol_util,sec_app_open_act_il,sec_app_num_rev_accts,sec_app_chargeoff_within_12_mths,sec_app_collections_12_mths_ex_med,sec_app_mths_since_last_major_derog,hardship_flag,hardship_type,hardship_reason,hardship_status,deferral_term,hardship_amount,hardship_start_date,hardship_end_date,payment_plan_start_date,hardship_length,hardship_dpd,hardship_loan_status,orig_projected_additional_accrued_interest,hardship_payoff_balance_amount,hardship_last_payment_amount,disbursement_method,debt_settlement_flag,debt_settlement_flag_date,settlement_status,settlement_date,settlement_amount,settlement_percentage,settlement_term
0,68407277,NaN,3600.0,3600.0,3600.0,36 months,13.99,123.03,C,C4,leadman,10+ years,MORTGAGE,55000.0,Not Verified,Dec-2015,Fully Paid,n,https://lendingclub.com/browse/loanDetail.action?loan_id=68407277,NaN,debt_consolidation,Debt consolidation,190xx,PA,5.91,0.0,Aug-2003,675.0,679.0,1.0,30.0,NaN,7.0,0.0,2765.0,29.7,13.0,w,0.00,0.00,4421.723917,4421.72,3600.00,821.72,0.0,0.0,0.0,Jan-2019,122.67,NaN,Mar-2019,564.0,560.0,0.0,30.0,1.0,Individual,NaN,NaN,NaN,0.0,722.0,144904.0,2.0,2.0,0.0,1.0,21.0,4981.0,36.0,3.0,3.0,722.0,34.0,9300.0,3.0,1.0,4.0,4.0,20701.0,1506.0,37.2,0.0,0.0,148.0,128.0,3.0,3.0,1.0,4.0,69.0,4.0,69.0,2.0,2.0,4.0,2.0,5.0,3.0,4.0,9.0,4.0,7.0,0.0,0.0,0.0,3.0,76.9,0.0,0.0,0.0,178050.0,7746.0,2400.0,13734.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
1,68355089,NaN,24700.0,24700.0,24700.0,36 months,11.99,820.28,C,C1,Engineer,10+ years,MORTGAGE,65000.0,Not Verified,Dec-2015,Fully Paid,n,https://lendingclub.com/browse/loanDetail.action?loan_id=68355089,NaN,small_business,Business,577xx,SD,16.06,1.0,Dec-1999,715.0,719.0,4.0,6.0,NaN,22.0,0.0,21470.0,19.2,38.0,w,0.00,0.00,25679.660000,25679.66,24700.00,979.66,0.0,0.0,0.0,Jun-2016,926.35,NaN,Mar-2019,699.0,695.0,0.0,NaN,1.0,Individual,NaN,NaN,NaN,0.0,0.0,204396.0,1.0,1.0,0.0,1.0,19.0,18005.0,73.0,2.0,3.0,6472.0,29.0,111800.0,0.0,0.0,6.0,4.0,9733.0,57830.0,27.1,0.0,0.0,113.0,192.0,2.0,2.0,4.0,2.0,NaN,0.0,6.0,0.0,5.0,5.0,13.0,17.0,6.0,20.0,27.0,5.0,22.0,0.0,0.0,0.0,2.0,97.4,7.7,0.0,0.0,314017.0,39475.0,79300.0,24667.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
2,68341763,NaN,20000.0,20000.0,20000.0,60 months,10.78,432.66,B,B4,truck driver,10+ years,MORTGAGE,63000.0,Not Verified,Dec-2015,Fully Paid,n,https://lendingclub.com/browse/loanDetail.action?loan_id=68341763,NaN,home_improvement,NaN,605xx,IL,10.78,0.0,Aug-2000,695.0,699.0,0.0,NaN,NaN,6.0,0.0,7869.0,56.2,18.0,w,0.00,0.00,22705.924294,22705.92,20000.00,2705.92,0.0,0.0,0.0,Jun-2017,15813.30,NaN,Mar-2019,704.0,700.0,0.0,NaN,1.0,Joint App,71000.0,13.85,Not Verified,0.0,0.0,189699.0,0.0,1.0,0.0,4.0,19.0,10827.0,73.0,0.0,2.0,2081.0,65.0,14000.0,2.0,5.0,1.0,6.0,31617.0,2737.0,55.9,0.0,0.0,125.0,184.0,14.0,14.0,5.0,101.0,NaN,10.0,NaN,0.0,2.0,3.0,2.0,4.0,6.0,4.0,7.0,3.0,6.0,0.0,0.0,0.0,0.0,100.0,50.0,0.0,0.0,218418.0,18696.0,6200.0,14877.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
3,66310712,NaN,35000.0,35000.0,35000.0,60 months,14.85,829.90,C,C5,Information Systems Officer,10+ years,MORTGAGE,110000.0,Source Verified,Dec-2015,Current,n,https://lendingclub.com/browse/loanDetail.action?loan_id=66310712,NaN,debt_consolidation,Debt consolidation,076xx,NJ,17.06,0.0,Sep-2008,785.0,789.0,0.0,NaN,NaN,13.0,0.0,7802.0,11.6,17.0,w,15897.65,15897.65,31464.010000,31464.01,19102.35,12361.66,0.0,0.0,0.0,Feb-2019,829.90,Apr-2019,Mar-2019,679.0,675.0,0.0,NaN,1.0,Individual,NaN,NaN,NaN,0.0,0.0,301500.0,1.0,1.0,0.0,1.0,23.0,12609.0,70.0,1.0,1.0,6987.0,45.0,67300.0,0.0,1.0,0.0,2.0,23192.0,54962.0,12.1,0.0,0.0,36.0,87.0,2.0,2.0,1.0,2.0,NaN,NaN,NaN,0.0,4.0,5.0,8.0,10.0,2.0,10.0,13.0,5.0,13.0,0.0,0.0,0.0,1.0,100.0,0.0,0.0,0.0,381215.0,52226.0,62500.0,18000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
4,68476807,NaN,10400.0,10400.0,10400.0,60 months,22.45,289.91,F,F1,Contract Specialist,3 years,MORTGAGE,104433.0,Source Verified,Dec-2015,Fully Paid,n,https://lendingclub.com/browse/loanDetail.action?loan_id=68476807,NaN,major_purchase,Major purchase,174xx,PA,25.37,1.0,Jun-1998,695.0,699.0,3.0,12.0,NaN,12.0,0.0,21929.0,64.5,35.0,w,0.00,0.00,11740.500000,11740.50,10400.00,1340.50,0.0,0.0,0.0,Jul-2016,10128.96,NaN,Mar-2018,704.0,700.0,0.0,NaN,1.0,Individual,NaN,NaN,NaN,0.0,0.0,331730.0,1.0,3.0,0.0,3.0,14.0,73839.0,84.0,4.0,7.0,9702.0,78.0,34000.0,2.0,1.0,3.0,10.0,27644.0,4567.0,77.5,0.0,0.0,128.0,210.0,4.0,4.0,6.0,4.0,12.0,1.0,12.0,0.0,4.0,6.0,5.0,9.0,10.0,7.0,19.0,6.0,12.0,0.0,0.0,0.0,4.0,96.6,60.0,0.0,0.0,439570.0,95768.0,20300.0,88097.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN

First I will limit the dataset to loans that have charged off or have been fully paid since that is what I'm looking to predict.

In [4]:
accepted_df.loan_status.value_counts()

Fully Paid                                             1076751
Current                                                 878317
Charged Off                                             268559
Late (31-120 days)                                       21467
In Grace Period                                           8436
Late (16-30 days)                                         4349
Does not meet the credit policy. Status:Fully Paid        1988
Does not meet the credit policy. Status:Charged Off        761
Default                                                     40
Name: loan_status, dtype: int64

In [5]:
# only keep the loans that are paid or charged off.
accepted_df_binary = accepted_df[accepted_df.loan_status.isin(['Fully Paid', 'Charged Off'])].copy()
accepted_df_binary.shape

(1345310, 151)

Just from that we dropped almost a million loans.

In [6]:
pd.options.display.max_rows = None
display(feat_def)
pd.options.display.max_rows = 10

,LoanStatNew,Description
0,acc_now_delinq,The number of accounts on which the borrower is now delinquent.
1,acc_open_past_24mths,Number of trades opened in past 24 months.
2,addr_state,The state provided by the borrower in the loan application
3,all_util,Balance to credit limit on all trades
4,annual_inc,The self-reported annual income provided by the borrower during registration.
5,annual_inc_joint,The combined self-reported annual income provided by the co-borrowers during registration
6,application_type,Indicates whether the loan is an individual application or a joint application with two co-borrowers
7,avg_cur_bal,Average current balance of all accounts
8,bc_open_to_buy,Total open to buy on revolving bankcards.
9,bc_util,Ratio of total current balance to high credit/credit limit for all bankcard accounts.
10,chargeoff_within_12_mths,Number of charge-offs within 12 months
11,collection_recovery_fee,post charge off collection fee
12,collections_12_mths_ex_med,Number of collections in 12 months excluding medical collections
13,delinq_2yrs,The number of 30+ days past-due incidences of delinquency in the borrower's credit file for the past 2 years
14,delinq_amnt,The past-due amount owed for the accounts on which the borrower is now delinquent.
15,desc,Loan description provided by the borrower
16,dti,"A ratio calculated using the borrowers total monthly debt payments on the total debt obligations, excluding mortgage and the requested LC loan, divided by the borrowers self-reported monthly income."
17,dti_joint,"A ratio calculated using the co-borrowers' total monthly payments on the total debt obligations, excluding mortgages and the requested LC loan, divided by the co-borrowers' combined self-reported monthly income"
18,earliest_cr_line,The month the borrower's earliest reported credit line was opened
19,emp_length,Employment length in years. Possible values are between 0 and 10 where 0 means less than one year and 10 means ten or more years.
20,emp_title,The job title supplied by the Borrower when applying for the loan.*
21,fico_range_high,The upper boundary range the borrowers FICO at loan origination belongs to.
22,fico_range_low,The lower boundary range the borrowers FICO at loan origination belongs to.
23,funded_amnt,The total amount committed to that loan at that point in time.
24,funded_amnt_inv,The total amount committed by investors for that loan at that point in time.
25,grade,LC assigned loan grade
26,home_ownership,"The home ownership status provided by the borrower during registrationor obtained from the credit report.Our values are: RENT, OWN, MORTGAGE, OTHER"
27,id,A unique LC assigned ID for the loan listing.
28,il_util,Ratio of total current balance to high credit/credit limit on all install acct
29,initial_list_status,"The initial listing status of the loan. Possible values are W, F"
30,inq_fi,Number of personal finance inquiries
31,inq_last_12m,Number of credit inquiries in past 12 months
32,inq_last_6mths,The number of inquiries in past 6 months (excluding auto and mortgage inquiries)
33,installment,The monthly payment owed by the borrower if the loan originates.
34,int_rate,Interest Rate on the loan
35,issue_d,The month which the loan was funded
36,last_credit_pull_d,The most recent month LC pulled credit for this loan
37,last_fico_range_high,The upper boundary range the borrowers last FICO pulled belongs to.
38,last_fico_range_low,The lower boundary range the borrowers last FICO pulled belongs to.
39,last_pymnt_amnt,Last total payment amount received
40,last_pymnt_d,Last month payment was received
41,loan_amnt,"The listed amount of the loan applied for by the borrower. If at some point in time, the credit department reduces the loan amount, then it will be reflected in this value."
42,loan_status,Current status of the loan
43,max_bal_bc,Maximum current balance owed on all revolving accounts
44,member_id,A unique LC assigned Id for the borrower member.
45,mo_sin_old_il_acct,Months since oldest bank installment account opened
46,mo_sin_old_rev_tl_op,Months since oldest revolving account opened
47,mo_sin_rcnt_rev_tl_op,Months since most recent revolving account opened
48,mo_sin_rcnt_tl,Months since most recent account opened
49,mort_acc,Number of mortgage accounts.
50,mths_since_last_delinq,The number of months since the borrower's last delinquency.
51,mths_since_last_major_derog,Months since most recent 90-day or worse rating
52,mths_since_last_record,The number of months since the last public record.
53,mths_since_rcnt_il,Months since most recent installment accounts opened
54,mths_since_recent_bc,Months since most recent bankcard account opened.
55,mths_since_recent_bc_dlq,Months since most recent bankcard delinquency
56,mths_since_recent_inq,Months since most recent inquiry.
57,mths_since_recent_revol_delinq,Months since most recent revolving delinquency.
58,next_pymnt_d,Next scheduled payment date
59,num_accts_ever_120_pd,Number of accounts ever 120 or more days past due
60,num_actv_bc_tl,Number of currently active bankcard accounts
61,num_actv_rev_tl,Number of currently active revolving trades
62,num_bc_sats,Number of satisfactory bankcard accounts
63,num_bc_tl,Number of bankcard accounts
64,num_il_tl,Number of installment accounts
65,num_op_rev_tl,Number of open revolving accounts
66,num_rev_accts,Number of revolving accounts
67,num_rev_tl_bal_gt_0,Number of revolving trades with balance >0
68,num_sats,Number of satisfactory accounts
69,num_tl_120dpd_2m,Number of accounts currently 120 days past due (updated in past 2 months)
70,num_tl_30dpd,Number of accounts currently 30 days past due (updated in past 2 months)
71,num_tl_90g_dpd_24m,Number of accounts 90 or more days past due in last 24 months
72,num_tl_op_past_12m,Number of accounts opened in past 12 months
73,open_acc,The number of open credit lines in the borrower's credit file.
74,open_acc_6m,Number of open trades in last 6 months
75,open_il_12m,Number of installment accounts opened in past 12 months
76,open_il_24m,Number of installment accounts opened in past 24 months
77,open_act_il,Number of currently active installment trades
78,open_rv_12m,Number of revolving trades opened in past 12 months
79,open_rv_24m,Number of revolving trades opened in past 24 months
80,out_prncp,Remaining outstanding principal for total amount funded
81,out_prncp_inv,Remaining outstanding principal for portion of total amount funded by investors
82,pct_tl_nvr_dlq,Percent of trades never delinquent
83,percent_bc_gt_75,Percentage of all bankcard accounts > 75% of limit.
84,policy_code,publicly available policy_code=1\nnew products not publicly available policy_code=2
85,pub_rec,Number of derogatory public records
86,pub_rec_bankruptcies,Number of public record bankruptcies
87,purpose,A category provided by the borrower for the loan request.
88,pymnt_plan,Indicates if a payment plan has been put in place for the loan
89,recoveries,post charge off gross recovery
90,revol_bal,Total credit revolving balance
91,revol_util,"Revolving line utilization rate, or the amount of credit the borrower is using relative to all available revolving credit."
92,sub_grade,LC assigned loan subgrade
93,tax_liens,Number of tax liens
94,term,The number of payments on the loan. Values are in months and can be either 36 or 60.
95,title,The loan title provided by the borrower
96,tot_coll_amt,Total collection amounts ever owed
97,tot_cur_bal,Total current balance of all accounts
98,tot_hi_cred_lim,Total high credit/credit limit
99,total_acc,The total number of credit lines currently in the borrower's credit file
100,total_bal_ex_mort,Total credit balance excluding mortgage
101,total_bal_il,Total current balance of all installment accounts
102,total_bc_limit,Total bankcard high credit/credit limit
103,total_cu_tl,Number of finance trades
104,total_il_high_credit_limit,Total installment high credit/credit limit
105,total_pymnt,Payments received to date for total amount funded
106,total_pymnt_inv,Payments received to date for portion of total amount funded by investors
107,total_rec_int,Interest received to date
108,total_rec_late_fee,Late fees received to date
109,total_rec_prncp,Principal received to date
110,total_rev_hi_lim,Total revolving high credit/credit limit
111,url,URL for the LC page with listing data.
112,verification_status,"Indicates if income was verified by LC, not verified, or if the income source was verified"
113,verified_status_joint,"Indicates if the co-borrowers' joint income was verified by LC, not verified, or if the income source was verified"
114,zip_code,The first 3 numbers of the zip code provided by the borrower in the loan application.
115,revol_bal_joint,"Sum of revolving credit balance of the co-borrowers, net of duplicate balances"
116,sec_app_fico_range_low,FICO range (high) for the secondary applicant
117,sec_app_fico_range_high,FICO range (low) for the secondary applicant
118,sec_app_earliest_cr_line,Earliest credit line at time of application for the secondary applicant
119,sec_app_inq_last_6mths,Credit inquiries in the last 6 months at time of application for the secondary applicant
120,sec_app_mort_acc,Number of mortgage accounts at time of application for the secondary applicant
121,sec_app_open_acc,Number of open trades at time of application for the secondary applicant
122,sec_app_revol_util,Ratio of total current balance to high credit/credit limit for all revolving accounts
123,sec_app_open_act_il,Number of currently active installment trades at time of application for the secondary applicant
124,sec_app_num_rev_accts,Number of revolving accounts at time of application for the secondary applicant
125,sec_app_chargeoff_within_12_mths,Number of charge-offs within last 12 months at time of application for the secondary applicant
126,sec_app_collections_12_mths_ex_med,Number of collections within last 12 months excluding medical collections at time of application for the secondary applicant
127,sec_app_mths_since_last_major_derog,Months since most recent 90-day or worse rating at time of application for the secondary applicant
128,hardship_flag,Flags whether or not the borrower is on a hardship plan
129,hardship_type,Describes the hardship plan offering
130,hardship_reason,Describes the reason the hardship plan was offered
131,hardship_status,"Describes if the hardship plan is active, pending, canceled, completed, or broken"
132,deferral_term,Amount of months that the borrower is expected to pay less than the contractual monthly payment amount due to a hardship plan
133,hardship_amount,The interest payment that the borrower has committed to make each month while they are on a hardship plan
134,hardship_start_date,The start date of the hardship plan period
135,hardship_end_date,The end date of the hardship plan period
136,payment_plan_start_date,"The day the first hardship plan payment is due. For example, if a borrower has a hardship plan period of 3 months, the start date is the start of the three-month period in which the borrower is allowed to make interest-only payments."
137,hardship_length,The number of months the borrower will make smaller payments than normally obligated due to a hardship plan
138,hardship_dpd,Account days past due as of the hardship plan start date
139,hardship_loan_status,Loan Status as of the hardship plan start date
140,orig_projected_additional_accrued_interest,The original projected additional interest amount that will accrue for the given hardship payment plan as of the Hardship Start Date. This field will be null if the borrower has broken their hardship payment plan.
141,hardship_payoff_balance_amount,The payoff balance amount as of the hardship plan start date
142,hardship_last_payment_amount,The last payment amount as of the hardship plan start date
143,disbursement_method,"The method by which the borrower receives their loan. Possible values are: CASH, DIRECT_PAY"
144,debt_settlement_flag,"Flags whether or not the borrower, who has charged-off, is working with a debt-settlement company."
145,debt_settlement_flag_date,The most recent date that the Debt_Settlement_Flag has been set
146,settlement_status,"The status of the borrowers settlement plan. Possible values are: COMPLETE, ACTIVE, BROKEN, CANCELLED, DENIED, DRAFT"
147,settlement_date,The date that the borrower agrees to the settlement plan
148,settlement_amount,The loan amount that the borrower has agreed to settle for
149,settlement_percentage,The settlement amount as a percentage of the payoff balance amount on the loan
150,settlement_term,The number of months that the borrower will be on the settlement plan
151,NaN,NaN
152,NaN,* Employer Title replaces Employer Name for all loans listed after 9/23/2013

A lot of these features are information that is applicable to loans that are already in progress. I won't use those for the model since we want to predict the outcome before the loan was given. There are also features that are not relevant like "id" or "title",  or superfluous like "addr_state" since we have the zipcode. I will drop those too.

In [7]:
# Go through the features and their descriptions and choose which columns need to be dropped
cols_to_drop = ['addr_state','desc','earliest_cr_line','emp_title','funded_amnt','funded_amnt_inv','id',
                'initial_list_status','last_credit_pull_d','last_fico_range_high','last_fico_range_low',
                'last_pymnt_amnt','last_pymnt_d','member_id','next_pymnt_d','out_prncp','out_prncp_inv','policy_code',
                'purpose','pymnt_plan','sub_grade','title','total_pymnt','total_pymnt_inv','total_rec_int',
                'total_rec_late_fee','total_rec_prncp','url','hardship_flag','hardship_type','hardship_reason',
                'hardship_status','deferral_term','hardship_amount','hardship_start_date','hardship_end_date',
                'payment_plan_start_date','hardship_length','hardship_dpd','hardship_loan_status',
                'orig_projected_additional_accrued_interest','hardship_payoff_balance_amount',
                'hardship_last_payment_amount','disbursement_method','debt_settlement_flag','debt_settlement_flag_date',
                'settlement_status','settlement_date','settlement_amount','settlement_percentage','settlement_term']

In [8]:
# drop_columns
accepted_df_binary.drop(cols_to_drop, axis=1, inplace=True)
print(f'Dropped {len(cols_to_drop)} columns')
accepted_df_binary.shape

Dropped 51 columns

(1345310, 100)

Now that we've narrowed down the columns, we need a sample that's big enough to train a model on, but small enough so that exploring the data and running the models can be done in a timely fashion. If I am not able get decent results from the models, I'll see about increasing the sample size.

Instead of taking a randomized sample, I will take the last three years of loans from the dataset.

In [9]:
# change the issue_d to a datetime object 
accepted_df_binary['issue_d'] = pd.to_datetime(accepted_df_binary['issue_d'])
# take the loans since 2016
last_3_yr = accepted_df_binary[accepted_df_binary.issue_d >= '2016-01'].copy()
# sort the dataframe by date and change the name to date
last_3_yr.sort_values('issue_d', inplace=True)
last_3_yr.reset_index(drop=True, inplace=True)
last_3_yr.rename(columns={'issue_d': 'date'}, inplace=True)

last_3_yr.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 518706 entries, 0 to 518705
Data columns (total 100 columns):
 #   Column                               Non-Null Count   Dtype
---  ------                               --------------   -----
 0   loan_amnt                            518706 non-null  float64
 1   term                                 518706 non-null  object
 2   int_rate                             518706 non-null  float64
 3   installment                          518706 non-null  float64
 4   grade                                518706 non-null  object
 5   emp_length                           482772 non-null  object
 6   home_ownership                       518706 non-null  object
 7   annual_inc                           518706 non-null  float64
 8   verification_status                  518706 non-null  object
 9   date                                 518706 non-null  datetime64[ns]
 10  loan_status                          518706 non-null  object
 11  zip_code                             518705 non-null  object
 12  dti                                  518334 non-null  float64
 13  delinq_2yrs                          518706 non-null  float64
 14  fico_range_low                       518706 non-null  float64
 15  fico_range_high                      518706 non-null  float64
 16  inq_last_6mths                       518705 non-null  float64
 17  mths_since_last_delinq               264252 non-null  float64
 18  mths_since_last_record               99889 non-null   float64
 19  open_acc                             518706 non-null  float64
 20  pub_rec                              518706 non-null  float64
 21  revol_bal                            518706 non-null  float64
 22  revol_util                           518293 non-null  float64
 23  total_acc                            518706 non-null  float64
 24  recoveries                           518706 non-null  float64
 25  collection_recovery_fee              518706 non-null  float64
 26  collections_12_mths_ex_med           518706 non-null  float64
 27  mths_since_last_major_derog          146471 non-null  float64
 28  application_type                     518706 non-null  object
 29  annual_inc_joint                     25399 non-null   float64
 30  dti_joint                            25397 non-null   float64
 31  verification_status_joint            25194 non-null   object
 32  acc_now_delinq                       518706 non-null  float64
 33  tot_coll_amt                         518706 non-null  float64
 34  tot_cur_bal                          518706 non-null  float64
 35  open_acc_6m                          518652 non-null  float64
 36  open_act_il                          518653 non-null  float64
 37  open_il_12m                          518653 non-null  float64
 38  open_il_24m                          518653 non-null  float64
 39  mths_since_rcnt_il                   504962 non-null  float64
 40  total_bal_il                         518653 non-null  float64
 41  il_util                              448556 non-null  float64
 42  open_rv_12m                          518653 non-null  float64
 43  open_rv_24m                          518653 non-null  float64
 44  max_bal_bc                           518653 non-null  float64
 45  all_util                             518600 non-null  float64
 46  total_rev_hi_lim                     518706 non-null  float64
 47  inq_fi                               518653 non-null  float64
 48  total_cu_tl                          518652 non-null  float64
 49  inq_last_12m                         518652 non-null  float64
 50  acc_open_past_24mths                 518706 non-null  float64
 51  avg_cur_bal                          518696 non-null  float64
 52  bc_open_to_buy                       512320 non-null  float64
 53  bc_util                              512035 non-null  float64
 54  chargeoff_within_12_mths             518706 non-null  float64
 55  delinq_amnt                          518706 non-null  float64
 56  mo_sin_old_il_acct                   505010 non-null  float64
 57  mo_sin_old_rev_tl_op                 518706 non-null  float64
 58  mo_sin_rcnt_rev_tl_op                518706 non-null  float64
 59  mo_sin_rcnt_tl                       518706 non-null  float64
 60  mort_acc                             518706 non-null  float64
 61  mths_since_recent_bc                 512702 non-null  float64
 62  mths_since_recent_bc_dlq             125764 non-null  float64
 63  mths_since_recent_inq                471225 non-null  float64
 64  mths_since_recent_revol_delinq       179306 non-null  float64
 65  num_accts_ever_120_pd                518706 non-null  float64
 66  num_actv_bc_tl                       518706 non-null  float64
 67  num_actv_rev_tl                      518706 non-null  float64
 68  num_bc_sats                          518706 non-null  float64
 69  num_bc_tl                            518706 non-null  float64
 70  num_il_tl                            518706 non-null  float64
 71  num_op_rev_tl                        518706 non-null  float64
 72  num_rev_accts                        518706 non-null  float64
 73  num_rev_tl_bal_gt_0                  518706 non-null  float64
 74  num_sats                             518706 non-null  float64
 75  num_tl_120dpd_2m                     494386 non-null  float64
 76  num_tl_30dpd                         518706 non-null  float64
 77  num_tl_90g_dpd_24m                   518706 non-null  float64
 78  num_tl_op_past_12m                   518706 non-null  float64
 79  pct_tl_nvr_dlq                       518705 non-null  float64
 80  percent_bc_gt_75                     512290 non-null  float64
 81  pub_rec_bankruptcies                 518706 non-null  float64
 82  tax_liens                            518706 non-null  float64
 83  tot_hi_cred_lim                      518706 non-null  float64
 84  total_bal_ex_mort                    518706 non-null  float64
 85  total_bc_limit                       518706 non-null  float64
 86  total_il_high_credit_limit           518706 non-null  float64
 87  revol_bal_joint                      18629 non-null   float64
 88  sec_app_fico_range_low               18630 non-null   float64
 89  sec_app_fico_range_high              18630 non-null   float64
 90  sec_app_earliest_cr_line             18630 non-null   object
 91  sec_app_inq_last_6mths               18630 non-null   float64
 92  sec_app_mort_acc                     18630 non-null   float64
 93  sec_app_open_acc                     18630 non-null   float64
 94  sec_app_revol_util                   18302 non-null   float64
 95  sec_app_open_act_il                  18630 non-null   float64
 96  sec_app_num_rev_accts                18630 non-null   float64
 97  sec_app_chargeoff_within_12_mths     18630 non-null   float64
 98  sec_app_collections_12_mths_ex_med   18630 non-null   float64
 99  sec_app_mths_since_last_major_derog  6645 non-null    float64
dtypes: datetime64[ns](1), float64(89), object(10)
memory usage: 395.7+ MB

The next step is to get rid of any column that has too many NaN's to use.

In [10]:
# get a list of the column names that have more than 30% missing values, and drop those columns
thirty_nan = [i for i in last_3_yr.columns 
              if last_3_yr[i].isnull().sum() > 0.3*last_3_yr.shape[0]]
thirty_nan

['mths_since_last_delinq',
 'mths_since_last_record',
 'mths_since_last_major_derog',
 'annual_inc_joint',
 'dti_joint',
 'verification_status_joint',
 'mths_since_recent_bc_dlq',
 'mths_since_recent_revol_delinq',
 'revol_bal_joint',
 'sec_app_fico_range_low',
 'sec_app_fico_range_high',
 'sec_app_earliest_cr_line',
 'sec_app_inq_last_6mths',
 'sec_app_mort_acc',
 'sec_app_open_acc',
 'sec_app_revol_util',
 'sec_app_open_act_il',
 'sec_app_num_rev_accts',
 'sec_app_chargeoff_within_12_mths',
 'sec_app_collections_12_mths_ex_med',
 'sec_app_mths_since_last_major_derog']

The features about the secondary have a lot of missing values which makes sense.

In [11]:
print('Dropping ', len(thirty_nan), ' columns')
last_3_yr.drop(thirty_nan, axis=1, inplace=True)
last_3_yr.shape

Dropping  21  columns

(518706, 79)

Now we can deal with the rest of the NaN's.

In [12]:
pd.options.display.max_rows = None
display(last_3_yr.isna().sum())
pd.options.display.max_rows = 10

loan_amnt                         0
term                              0
int_rate                          0
installment                       0
grade                             0
emp_length                    35934
home_ownership                    0
annual_inc                        0
verification_status               0
date                              0
loan_status                       0
zip_code                          1
dti                             372
delinq_2yrs                       0
fico_range_low                    0
fico_range_high                   0
inq_last_6mths                    1
open_acc                          0
pub_rec                           0
revol_bal                         0
revol_util                      413
total_acc                         0
recoveries                        0
collection_recovery_fee           0
collections_12_mths_ex_med        0
application_type                  0
acc_now_delinq                    0
tot_coll_amt                      0
tot_cur_bal                       0
open_acc_6m                      54
open_act_il                      53
open_il_12m                      53
open_il_24m                      53
mths_since_rcnt_il            13744
total_bal_il                     53
il_util                       70150
open_rv_12m                      53
open_rv_24m                      53
max_bal_bc                       53
all_util                        106
total_rev_hi_lim                  0
inq_fi                           53
total_cu_tl                      54
inq_last_12m                     54
acc_open_past_24mths              0
avg_cur_bal                      10
bc_open_to_buy                 6386
bc_util                        6671
chargeoff_within_12_mths          0
delinq_amnt                       0
mo_sin_old_il_acct            13696
mo_sin_old_rev_tl_op              0
mo_sin_rcnt_rev_tl_op             0
mo_sin_rcnt_tl                    0
mort_acc                          0
mths_since_recent_bc           6004
mths_since_recent_inq         47481
num_accts_ever_120_pd             0
num_actv_bc_tl                    0
num_actv_rev_tl                   0
num_bc_sats                       0
num_bc_tl                         0
num_il_tl                         0
num_op_rev_tl                     0
num_rev_accts                     0
num_rev_tl_bal_gt_0               0
num_sats                          0
num_tl_120dpd_2m              24320
num_tl_30dpd                      0
num_tl_90g_dpd_24m                0
num_tl_op_past_12m                0
pct_tl_nvr_dlq                    1
percent_bc_gt_75               6416
pub_rec_bankruptcies              0
tax_liens                         0
tot_hi_cred_lim                   0
total_bal_ex_mort                 0
total_bc_limit                    0
total_il_high_credit_limit        0
dtype: int64

All of the columns wit NaN's in the thousands seem like pretty insignificant features, besides emp_length, I'll drop those columns and afterward drop the rest of the rows with NaN's since they're so few. And again if I can't get good results with the models, I'll come back to this.

In [13]:
# list of columns to drop
cols_to_drop = ['mths_since_rcnt_il', 'il_util', 'bc_open_to_buy', 'bc_util', 'mo_sin_old_il_acct', 
                'mths_since_recent_bc', 'mths_since_recent_inq', 'num_tl_120dpd_2m', 'percent_bc_gt_75',]
last_3_yr.drop(cols_to_drop, axis=1, inplace=True)
last_3_yr.dropna(inplace=True)
print(last_3_yr.shape)
print(f'There are now {last_3_yr.isna().sum().sum()} missing values')

(482335, 70)
There are now 0 missing values

In [14]:
last_3_yr.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 482335 entries, 0 to 518705
Data columns (total 70 columns):
 #   Column                      Non-Null Count   Dtype
---  ------                      --------------   -----
 0   loan_amnt                   482335 non-null  float64
 1   term                        482335 non-null  object
 2   int_rate                    482335 non-null  float64
 3   installment                 482335 non-null  float64
 4   grade                       482335 non-null  object
 5   emp_length                  482335 non-null  object
 6   home_ownership              482335 non-null  object
 7   annual_inc                  482335 non-null  float64
 8   verification_status         482335 non-null  object
 9   date                        482335 non-null  datetime64[ns]
 10  loan_status                 482335 non-null  object
 11  zip_code                    482335 non-null  object
 12  dti                         482335 non-null  float64
 13  delinq_2yrs                 482335 non-null  float64
 14  fico_range_low              482335 non-null  float64
 15  fico_range_high             482335 non-null  float64
 16  inq_last_6mths              482335 non-null  float64
 17  open_acc                    482335 non-null  float64
 18  pub_rec                     482335 non-null  float64
 19  revol_bal                   482335 non-null  float64
 20  revol_util                  482335 non-null  float64
 21  total_acc                   482335 non-null  float64
 22  recoveries                  482335 non-null  float64
 23  collection_recovery_fee     482335 non-null  float64
 24  collections_12_mths_ex_med  482335 non-null  float64
 25  application_type            482335 non-null  object
 26  acc_now_delinq              482335 non-null  float64
 27  tot_coll_amt                482335 non-null  float64
 28  tot_cur_bal                 482335 non-null  float64
 29  open_acc_6m                 482335 non-null  float64
 30  open_act_il                 482335 non-null  float64
 31  open_il_12m                 482335 non-null  float64
 32  open_il_24m                 482335 non-null  float64
 33  total_bal_il                482335 non-null  float64
 34  open_rv_12m                 482335 non-null  float64
 35  open_rv_24m                 482335 non-null  float64
 36  max_bal_bc                  482335 non-null  float64
 37  all_util                    482335 non-null  float64
 38  total_rev_hi_lim            482335 non-null  float64
 39  inq_fi                      482335 non-null  float64
 40  total_cu_tl                 482335 non-null  float64
 41  inq_last_12m                482335 non-null  float64
 42  acc_open_past_24mths        482335 non-null  float64
 43  avg_cur_bal                 482335 non-null  float64
 44  chargeoff_within_12_mths    482335 non-null  float64
 45  delinq_amnt                 482335 non-null  float64
 46  mo_sin_old_rev_tl_op        482335 non-null  float64
 47  mo_sin_rcnt_rev_tl_op       482335 non-null  float64
 48  mo_sin_rcnt_tl              482335 non-null  float64
 49  mort_acc                    482335 non-null  float64
 50  num_accts_ever_120_pd       482335 non-null  float64
 51  num_actv_bc_tl              482335 non-null  float64
 52  num_actv_rev_tl             482335 non-null  float64
 53  num_bc_sats                 482335 non-null  float64
 54  num_bc_tl                   482335 non-null  float64
 55  num_il_tl                   482335 non-null  float64
 56  num_op_rev_tl               482335 non-null  float64
 57  num_rev_accts               482335 non-null  float64
 58  num_rev_tl_bal_gt_0         482335 non-null  float64
 59  num_sats                    482335 non-null  float64
 60  num_tl_30dpd                482335 non-null  float64
 61  num_tl_90g_dpd_24m          482335 non-null  float64
 62  num_tl_op_past_12m          482335 non-null  float64
 63  pct_tl_nvr_dlq              482335 non-null  float64
 64  pub_rec_bankruptcies        482335 non-null  float64
 65  tax_liens                   482335 non-null  float64
 66  tot_hi_cred_lim             482335 non-null  float64
 67  total_bal_ex_mort           482335 non-null  float64
 68  total_bc_limit              482335 non-null  float64
 69  total_il_high_credit_limit  482335 non-null  float64
dtypes: datetime64[ns](1), float64(61), object(8)
memory usage: 261.3+ MB

## Sampling

The dataset is still too big to upload to github, but pandas will be able to manage it fine. I'll save this dataframe to a csv to explore and train models, and I'll also take a small sample to uplaod to github.

In [15]:
last_3_yr.reset_index(inplace=True, drop=True)
last_3_yr.to_csv('../accepted_3_yrs.csv', index=False)
accepted_sample = last_3_yr.sample(5000, random_state=0)
accepted_sample.to_csv('data/accepted_sample.csv', index=False)

### Rejected loans

Now I'll do the same process for the rejected loans.

In [16]:
rejected_df

,Amount Requested,Application Date,Loan Title,Risk_Score,Debt-To-Income Ratio,Zip Code,State,Employment Length,Policy Code
0,1000.0,2007-05-26,Wedding Covered but No Honeymoon,693.0,10%,481xx,NM,4 years,0.0
1,1000.0,2007-05-26,Consolidating Debt,703.0,10%,010xx,MA,< 1 year,0.0
2,11000.0,2007-05-27,Want to consolidate my debt,715.0,10%,212xx,MD,1 year,0.0
3,6000.0,2007-05-27,waksman,698.0,38.64%,017xx,MA,< 1 year,0.0
4,1500.0,2007-05-27,mdrigo,509.0,9.43%,209xx,MD,< 1 year,0.0
...,...,...,...,...,...,...,...,...,...
27648736,10000.0,2016-12-31,Debt consolidation,590.0,41.26%,441xx,OH,< 1 year,0.0
27648737,10000.0,2016-12-31,moving,NaN,1.48%,207xx,MD,5 years,0.0
27648738,1200.0,2016-12-31,Other,686.0,10.26%,914xx,CA,< 1 year,0.0
27648739,25000.0,2016-12-31,debt_consolidation,NaN,17.71%,880xx,NM,< 1 year,0.0
27648740,15000.0,2016-12-31,Business,684.0,10.58%,113xx,NY,< 1 year,0.0

In [17]:
rejected_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27648741 entries, 0 to 27648740
Data columns (total 9 columns):
 #   Column                Dtype
---  ------                -----
 0   Amount Requested      float64
 1   Application Date      object
 2   Loan Title            object
 3   Risk_Score            float64
 4   Debt-To-Income Ratio  object
 5   Zip Code              object
 6   State                 object
 7   Employment Length     object
 8   Policy Code           float64
dtypes: float64(3), object(6)
memory usage: 1.9+ GB

In [18]:
# take the last 3 years
rejected_df['date'] = pd.to_datetime(rejected_df['Application Date'])
last_3_yr_rejected = rejected_df[rejected_df.date >= '2016-01'].sort_values('date').reset_index(drop=True)
last_3_yr_rejected.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21339229 entries, 0 to 21339228
Data columns (total 10 columns):
 #   Column                Dtype
---  ------                -----
 0   Amount Requested      float64
 1   Application Date      object
 2   Loan Title            object
 3   Risk_Score            float64
 4   Debt-To-Income Ratio  object
 5   Zip Code              object
 6   State                 object
 7   Employment Length     object
 8   Policy Code           float64
 9   date                  datetime64[ns]
dtypes: datetime64[ns](1), float64(3), object(6)
memory usage: 1.6+ GB

There are 21 million rejected loans in these years, and the dataframe is 1.6 GB. This is still too big, and I'm going to have to take a sample for myself here as well. I'll take 2 million rejected loans which is four times the number of accepted loans that there were in those years.

In [19]:
rejected_sample = last_3_yr_rejected.sample(2000000, replace=True, random_state=0)

In [20]:
rejected_sample

,Amount Requested,Application Date,Loan Title,Risk_Score,Debt-To-Income Ratio,Zip Code,State,Employment Length,Policy Code,date
8325804,15000.0,2017-07-24,debt_consolidation,636.0,23.39%,945xx,CA,5 years,0.0,2017-07-24
18261621,22000.0,2018-09-12,Debt consolidation,NaN,14.98%,805xx,CO,< 1 year,0.0,2018-09-12
2215104,1000.0,2016-07-08,other,NaN,31.48%,856xx,AZ,< 1 year,0.0,2016-07-08
5157699,2000.0,2017-01-25,moving,NaN,12.15%,565xx,MN,5 years,0.0,2017-01-25
15039847,10000.0,2018-05-20,Business Loan,NaN,-1%,394xx,MS,< 1 year,0.0,2018-05-20
...,...,...,...,...,...,...,...,...,...,...
7325348,30000.0,2017-06-06,home_improvement,NaN,20.22%,149xx,NY,< 1 year,0.0,2017-06-06
736236,5000.0,2016-03-07,debt_consolidation,NaN,-1%,396xx,MS,< 1 year,0.0,2016-03-07
16724719,10500.0,2018-07-21,Debt consolidation,NaN,36.45%,890xx,NV,< 1 year,0.0,2018-07-21
12239746,5000.0,2018-01-19,Car financing,NaN,0%,782xx,TX,< 1 year,0.0,2018-01-19
7964687,10000.0,2017-07-09,debt_consolidation,NaN,66.52%,484xx,MI,< 1 year,0.0,2017-07-09

I'm going to use this dataset to compare it with the accepted loans, so I will drop the features that aren't in the accepted loans, and change the columns names so that they match.

In [21]:
# rename columns to match the accepted dataframe and drop the columns that aren't in the accepted loans
rename_dict = {'Application Date': 'date', 'Amount Requested': 'loan_amnt', 
               'Debt-To-Income Ratio': 'dti', 'Employment Length': 'emp_length',
              'Zip Code': 'zip_code'}
rejected_sample.rename(columns=rename_dict, inplace=True)
rejected_sample.drop(['Risk_Score', 'Policy Code', 'State', 'Loan Title'], axis=1, inplace=True)
rejected_sample.dropna(inplace=True)

In [22]:
rejected_sample

          loan_amnt        date     dti zip_code emp_length       date
8325804     15000.0  2017-07-24  23.39%    945xx    5 years 2017-07-24
18261621    22000.0  2018-09-12  14.98%    805xx   < 1 year 2018-09-12
2215104      1000.0  2016-07-08  31.48%    856xx   < 1 year 2016-07-08
5157699      2000.0  2017-01-25  12.15%    565xx    5 years 2017-01-25
15039847    10000.0  2018-05-20     -1%    394xx   < 1 year 2018-05-20
...             ...         ...     ...      ...        ...        ...
7325348     30000.0  2017-06-06  20.22%    149xx   < 1 year 2017-06-06
736236       5000.0  2016-03-07     -1%    396xx   < 1 year 2016-03-07
16724719    10500.0  2018-07-21  36.45%    890xx   < 1 year 2018-07-21
12239746     5000.0  2018-01-19      0%    782xx   < 1 year 2018-01-19
7964687     10000.0  2017-07-09  66.52%    484xx   < 1 year 2017-07-09

[1922058 rows x 6 columns]

This dataframe is still too big to upload to github, but I'll still save this as a csv so I don't need to load the full dataset. and then take a sample of my sample for github.

In [23]:
# save it to a csv
rejected_sample.to_csv('../rejected_3_yrs.csv', index=False)
rejected_sample = rejected_sample.sample(5000, random_state=0)
rejected_sample.to_csv('data/rejected_sample.csv')

In [24]:
notebook_end = time.time()
print(f'This notebook takes {int((time.time() - start)/60)} minutes to run')

This notebook takes 8 minutes to run